.idea
tmp/*
!tmp/.htaccess
uploads/*
!uploads/.htaccess
backup/*
!backup/.htaccess
includes/config.inc.php
includes/custom.inc.php
packages/*
plugins/*
!plugins/fancybox
!plugins/kcaptcha
!plugins/personal_blog
templates/*
!templates/common
!templates/kickstart
*node_modules