Options -MultiViews

<IfModule mod_rewrite.c>
	RewriteEngine On

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_URI} !(.*)\.(.*)$
	RewriteRule ^(.+[^/])$ http://%{HTTP_HOST}%{REQUEST_URI}/ [L,R=301]

	# Google sitemap controller
	RewriteRule ^(tmp/)?sitemap.xml$ tmp/sitemap.xml [L]

	RewriteCond %{REQUEST_FILENAME} -f
	RewriteRule ^(.*)(\.xml|\.php([0-9]*)|\.tpl|\.phtml|\.ini|\.inc|/)$ index.php?_p=$1 [QSA,L]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*)$ index.php?_p=$1 [QSA,L]
</IfModule>

<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE \
		text/html text/plain text/xml text/css text/javascript \
		application/xml application/xhtml+xml application/rss+xml \
		application/javascript application/x-javascript \
		image/svg+xml font/opentype application/x-font-ttf
</IfModule>