.chip {
  display: inline-block;
  font-size: 11px;
  line-height: 11px;
  padding: 3px 7px;
  background: #f6f6f6;
  color: fade(@text-color, 50%);
  border-radius: 12px;

  &--accent {
    background: @brand-warning;
    color: #fff;
  }
}