<ul class="docs_list">
	<li>3.0.5
		<ul class="fix">
			<li>Updated for Subrion 3.1</li>
		</ul>
	</li>
	<li>3.0.4
		<ul class="fix">
			<li>Responsive layout improved</li>
		</ul>
	</li>
	<li>3.0.3
		<ul class="fix">
			<li>Lists improvements</li>
			<li>Badges improvements</li>
		</ul>
	</li>
	<li>3.0.2
		<ul class="fix">
			<li>Fixes and improvements</li>
		</ul>
	</li>
	<li>3.0.1
		<ul class="fix">
			<li>Template updated for 3.0.1</li>
		</ul>
	</li>
	<li>3.0.0
		<ul class="fix">
			<li>Template released.</li>
		</ul>
	</li>
</ul>