
//
// Footer blocks
// --------------------------------------------------

.footer-blocks {
  background: #f2f2f2;
  padding: 100px 0;
  // background: fade(@brand-dark, 97%);
  // color: lighten(@brand-dark, 24%);

  // .panel-heading {
  //  color: lighten(@brand-dark, 24%);
  // }
}


//
// Footer
// --------------------------------------------------

.footer {
  padding: 100px 0;
  background: #dfdfdf;
  // color: lighten(#ddd, 24%);
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 0;
    bottom: 0;
    right: 0;
    background: darken(#ddd, 2%);
  }

  > .container {
    position: relative;
    z-index: 20;
  }

  a,
  a:focus {
    color: #777;
    background: none;

    &:hover {
      color: #444;
    }
  }
}

.copyright {
  margin: @vertical-rhythm 0 0;
  position: relative;

  &::before {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: -15px;
    width: 100px;
    height: 1px;
    background: fade(#fff, 5%);
  }
}

.social {
  padding-left: @vertical-rhythm*2;

  h4 {
    margin: 0 0 @vertical-rhythm;
  }

  a {
    font-size: 20px;
    display: inline-block;
    margin-right: @vertical-rhythm/2;
    width: 28px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    border-radius: 4px;
    background: #bbb;

    &:hover {
      background: #afafaf;
    }
  }
}



//
// Back to top button
// --------------------------------------------------

.back-to-top,
.back-to-top:focus {
  float: right;
  display: block;
  // width: 30px;
  height: 24px;
  font-size: 14px;
  line-height: 24px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  background: #ccc;
  color: #aaa;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    background: #bbb;
  }
}