
//
// Header
// --------------------------------------------------

.header {
  background: #2d2d30 url('../img/bg.jpg') 50% 50% no-repeat;
  background-size: cover;
}

.teaser {
  text-align: center;
  padding: 100px 0;

  h1,
  h2 {
    color: #fff;
    font-weight: 300;
    .font-normalize(28px);
  }

  h2 {
    .font-normalize(16px, 5px 0 0);
  }

  @media (min-width: @grid-float-breakpoint) {
    padding: 200px 0;

    h1 {
      .font-normalize(48px);
    }

    h2 {
      .font-normalize(24px, 10px 0 0);
    }
  }
}